html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  /* Add Flex Property */
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  /* Add Transition */
  /* Add flex Property */
}

.panel1 {
  background-image: url(Images/img3.jpg);
}
.panel2 {
  background-image: url(Images/img4.jpg);
}
.panel3 {
  background-image: url(Images/img3.jpg);
}
.panel4 {
  background-image: url(Images/img4.jpg);
}
.panel5 {
  background-image: url(Images/img3.jpg);
}

.panel > * {
  margin: 0;
  width: 100%;
  /* Add Transition */
  /* Add flex Property */
}

/* Add Transition of Words*/

a {
  color: aliceblue;
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  /* Add flex Property */
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .panel p {
    font-size: 1em;
  }
}
