body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
  background-size: cover;
  font-family: sans-serif;
}

.flex {
  width: 41vw;
  height: 49vh;
}

.wrapper {
  width: 40vw;
}

video {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

.speed {
  background: #ffffff;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #00a2ff 0%, #96d8f1 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: rgb(245, 245, 245);
  height: 16.3%;
}
