/* No need to Change CSS */
html {
  box-sizing: border-box;
  background: #d8b6a4;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #f7f7f7;
  width: 120%;
  left: -18%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 10px;
  font-size: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: #eeebdd;
  list-style: none;
  border-bottom: 1px solid #630000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  font-size: 30px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  background: linear-gradient(to bottom, #eeebdd 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  background: linear-gradient(to top, #eeebdd 0%, #efefef 100%);
}

.hl {
  background: #d8b6a4;
}
