@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.pw-container {
  background-color: rgb(27, 221, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  min-width: 400px;
}

.pw-header {
  padding: 1rem;
}

.pw {
  background-color: rgb(12, 178, 184);
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  height: 70px;
  width: 100%;
  position: relative;
  padding: 1rem;
}

.pw button {
  background-color: white;
  border: none;
  color: rgb(29, 2, 56);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 20%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
}

.heading {
  background-color: rgb(24, 207, 40);
  text-align: center;
  font-weight: bolder;
}

.btn {
  background-color: rgb(255, 82, 82);
  font-weight: bold;
}

.pw:hover button {
  opacity: 1;
  transform: translate(0, 0%);
}

.pw-body {
  padding: 0 1rem 1rem;
}

.form-control {
  color: rgb(109, 55, 55);
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.generate {
  border: none;
  color: rgb(13, 20, 20);
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 0.75rem;
  margin-top: 1rem;
  width: 100%;
}
